html,body {
	background-color: #efeff4;
}

.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}

.mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
	margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}

.bg-color-blue {
	background: #007AFF !important;
}

.bg-color-c {
	background: #DD524D !important;
}

.bg-color-g {
	background: #00a600 !important;
}

.bg-color-z {
	background: #6641E2 !important;
}

.bg-color-o {
	background: #F29100 !important;
}

.bg-color-p {
	background: #F76260 !important;
}

.bg-color-q {
	background: #57C5F7 !important;
}

.bg-color-l {
	background: #4CD964 !important;
}

.color-white {
	color: white !important;
}

.border-radius {
	border-radius: 15%;
}

.bg-img-1 {
	background: url(../images/icon/icon1.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-2 {
	background: url(../images/icon/icon2.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-3 {
	background: url(../images/icon/icon3.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-4 {
	background: url(../images/icon/icon4.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-5 {
	background: url(../images/icon/icon5.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-6 {
	background: url(../images/icon/icon6.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-7 {
	background: url(../images/icon/icon7.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-8 {
	background: url(../images/icon/icon8.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-9 {
	background: url(../images/icon/icon9.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.bg-img-10 {
	background: url(../images/icon/added.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 15%; //边框弧度
}

.hide-icon {
	color: #eee;
	opacity: 0.0;
}

body .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body.font-size-9 {
	font-size: 10px;
}

body .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
	margin-top: 0px;
}

body .mui-table-view.mui-grid-view .mui-table-view-cell.boder-none {
	border: none;
}

.mui-slider,
.mui-slider img {
	height: 140px;
}

.mui-slider {
	border-top: #69717D solid 0.5px;
	border-bottom: #69717D solid 0.5px;
}