.mui-bar .mui-btn {
	top: 0px;
}

p {
	text-indent: 22px;
}
::-webkit-input-placeholder {
    color: white;
}
textarea:disabled
{ 
color: black;
opacity: 1;
}
input:disabled
{ 
background-color: dodgerblue !important;
color: white !important;
}
span.mui-icon {
	font-size: 14px;
	color: #007aff;
	margin-left: -15px;
	padding-right: 10px;
}

#info {
	padding: 20px 10px;
}

#pic-list>li>img,
#pic-list>li>a>img {
	height: 150px;
	width: 150px;
}

.pickerstyle {
	background-color: dodgerblue !important;
	color: #F0F0F0;
	text-align: center;
}

#workflow label,#workflow a,
.mui-content-padded label {
	font-size: 15px;
}
.mui-content-padded .mui-input-row+label {
	
}

#workflow input {
	background-color: dodgerblue;
	color: #F0F0F0;
	text-align: center;
}
#pic{
	border: dashed 0.5px #6D7380;
	width: 100px !important;
	height: 100px !important;
}


/*.des {
				margin: .5em 0;
			}
			.des>li {
				font-size: 14px;
				color: #8f8f94;
			}*/


/*根据状态显隐*/

.complete .mui-bar {
	display: none;
}

.complete #showUserPicker {}
.mui-table-view+label {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}
.kr-article-content{
}
.mui-content-padded .kr-article-meta{
	display: block;
	text-align: right;
	opacity: 0.4;
}
.mui-content-padded .kr-article-meta div{
	display: inline-block;
}
.mui-input-row textarea{
	font-size: 13px;
}
#showUserPicker{
	color: white;
	font-size: 13px;
}
.mui-content-padded .mui-input-row input{
	font-size: 13px;
}
#workflow>li{
				padding-left: 8px;
			}
#savbtn,#subbtn{
				width: 50%;
			}
