html,body {
	background-color: #efeff4;
	font-size: 16px;
}
			
.title {
	padding: 20px 0px 10px;
	color: #6d6d72;
	font-size: 18px;
	background-color: #fff;
}
.mui-table-view,.mui-table h4,.mui-table h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
	margin-top: 0 !important;
}
.mui-table h4{
	line-height: 21px;
	font-weight: 500;
}
.color-black{
	color: black;
}
.span-left{
	float: left;
}