<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.picker.min.css"/>
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../../css/component/edit-style.css"/>
		<!--图片预览-->
		<link rel="stylesheet" type="text/css" href="../../../css/imgChange/imgChangeStyle.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/list-to-detail.css"/>
</head>
<body>
	<div class="status-content">
			<!--顶部banner图 开始-->
			<div id="kr-article-banner" class="kr-article-banner">
				<div id="kr-article-cover" class="kr-article-cover">
					<img :src="cover">
				</div>
				<h2 id="kr-article-title" class="kr-article-title">{{title}}</h2>
			</div>
			<!--顶部banner图 结束-->
			<div class="kr-article-content">
				<!-- 文章作者、发布时间等信息 -->
				<div class="kr-article-meta">
					<div id="kr-article-author" class="kr-article-author">{{author}}</div>
					<div class="kr-article-text">发表于</div>
					<div id="kr-article-time" class="kr-article-time">{{time}}</div>
				</div>
				<!--文章详细内容-->
				<div id="kr-article-article" class="kr-article-article" >
					
				</div>
			</div>
			<nav class="mui-bar mui-bar-tab" v-show="status!=2">
				<a class="mui-tab-item" href="#">
					<button id="savbtn" type="button" class="mui-btn mui-btn-primary">保存</button>
				</a>
				<a class="mui-tab-item" href="#">
					<button id="subbtn" type="button" class="mui-btn mui-btn-success">提交</button>
				</a>
			</nav>
			<div class="mui-content">
				<input type="text" name="apply_id" id="apply_id" hidden value="" />
				<div class="mui-content-padded">
					<ul id="pic-list" class="mui-table-view mui-grid-view">
						<li class="mui-table-view-cell mui-media mui-col-xs-6 img-longtap" v-for="(item,index) in imginfo">
							<a>
								<img :src="item.url" :index="index"  :fileID="item.fileId" :fileType="item.fileType" :data-preview-src="item.previewSrc" data-preview-group="1" class="mui-media-object" />
							</a>
						</li>
						<li id="add-pic-li" class="mui-table-view-cell mui-media mui-col-xs-6" v-show="status!=2">
							<a href="#picture">
								<img id="pic" class="mui-media-object" src="../../../images/add2.png"/>
							</a>
						</li>
					</ul>
					<label>描述说明：</label>
					<div class="mui-input-row">
						<textarea id="textarea" v-model="title" :readonly="status == 2" rows="5" placeholder=""></textarea>
					</div>
					<label>工程項目：</label>
					<div class="mui-input-row">
							<input type="text" id="subentry_caseno" hidden>
							<input id='showUserPicker' class="pickerstyle" v-show="status == 0" v-model="projectName" type="text" placeholder="点击查询...">
							<input v-show="status == 2" readonly="true" class="pickerstyle" v-model="projectName" type="text" placeholder="点击查询...">
					</div>
					<div id='userResult' class="ui-alert"></div>
				</div>
			</div>
	
			<!--上传照片方式-->
			<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#">拍照或录像</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">选取现有的</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#picture"><b>取消</b></a>
					</li>
				</ul>
			</div>
			<!--删除照片确定-->
			<div id="picture-del" class="mui-popover mui-popover-action mui-popover-bottom">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#">删除照片</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#picture-del"><b>取消</b></a>
					</li>
				</ul>
			</div>
	</div>
</body>
	<script src="../../../js/mui.min.js"></script>
	<script src="../../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/user/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/component/simple-edit.js" type="text/javascript" charset="utf-8"></script>
	<!--图片预览-->
	<script src="../../../js/imgChange/mui.zoom.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/imgChange/mui.previewimage.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/imgChange/helper.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var serverUrl=userApp.serverUrl+"/ImageProgress/UpdateData",
		    img_selectNode,
		    	userId,
		    vm = new Vue({
				el: '.status-content',
				data: getDefaultData(),
				methods: {
					resetData: function() {//重置数据
						Object.assign(this.$data, getDefaultData());
					}
				}
			});
		/*图片预览*/
		mui.previewImage();
		mui.init({
			gestureConfig:{
			   longtap: true, //默认为false  
			}
		});
		function getDefaultData() {
				return {
					cover: '',
					title: '',
					author: '',
					time: '',
					projectName: '',
					projectNo:'',
					status:'',
					imginfo:[],
				}
		}
		mui('body').on('shown', '.mui-popover', function(e) {
			//console.log('shown', e.detail.id);//detail为当前popover元素
		});
		mui('body').on('hidden', '.mui-popover', function(e) {
			//console.log('hidden', e.detail.id);//detail为当前popover元素
		});
		//选取照片单击事件
		mui('body').on('tap', '.mui-popover-action li>a', function() {
			var a = this,
				parent;
			//根据点击按钮，反推当前是哪个actionsheet
			for (parent = a.parentNode; parent != document.body; parent = parent.parentNode) {
				if (parent.classList.contains('mui-popover-action')) {
					break;
				}
			}
			//关闭actionsheet
			if(a.innerHTML=="选取现有的"){
				appendByGallery(vm.apply_id).then(data=>{
					let imginfo={url:data.data,previewSrc:data.initialData,fileId:data.id,fileType:data.type}
					vm.imginfo.push(imginfo)
				});
			}
			else if(a.innerHTML=="拍照或录像"){
				appendByCamera(vm.apply_id).then(data=>{
					let imginfo={url:data.data,previewSrc:data.initialData,fileId:data.id,fileType:data.type}
					vm.imginfo.push(imginfo)
				});
			}
			else if(a.innerHTML=="删除照片"){
				let serurl=userApp.serverUrl+"/Attachment/DeleteFile",
					index=img_selectNode.getAttribute('index'),
					data={
						fileID:img_selectNode.getAttribute('fileID'),
						fileType:img_selectNode.getAttribute('fileType'),
						userID:userApp.userId
					};
				userApp.Post(serurl,data).then(res=>{
					if(res.code==200){
						plus.nativeUI.toast(res.msg)
						vm.imginfo.splice(index,1)
					}else{
						plus.nativeUI.toast(res.msg)
					}
				}).catch(err=>{
					plus.nativeUI.toast(err)
				})
			}
			mui('#' + parent.id).popover('toggle');
		});
		//删除已上传照片
		mui('#pic-list').on('longtap','.img-longtap',function(){
			img_selectNode=this.getElementsByTagName('img')[0]
			if(vm.status==2){
				return
			}
			mui('#picture-del').popover('toggle');//show hide toggle
		})
		//保存提交按钮事件
		mui('body').on('tap','.mui-bar-tab a button',function(){
			var statu;
			if(this.id=='savbtn'){
				statu=0
			}else if(this.id=='subbtn'){
				statu=2
			}
			let newId=vm.apply_id
			let projectNo = vm.projectNo
			let UserId=userId,
			    Remark=vm.title,
			    data={ 
					apply_id:newId,
					ProjectNo:projectNo,
					userID:UserId,
					remark :Remark,
					status:statu
				};
			if(!projectNo){
				plus.nativeUI.toast('請選擇所屬分項工程')
				return
			}
			userApp.Post(serverUrl,data).then(res=>{
				//获得服务器响应
					let page=plus.webview.getWebviewById('impro-tab-top-subpage-1.html')
					if(statu==2){
						page=plus.webview.getWebviewById('./imProgress/tab-top-webview-main.html')
					}
					mui.back();	
					mui.fire(page,'refresh',{status:res.status});
			}).catch(err=>{
				plus.nativeUI.toast("錯誤:"+err)
			})	
		})
		mui.plusReady(function () {
		    userId=plus.storage.getItem('userId') //获取用户id
		    userApp.userId=userId=plus.storage.getItem('userId') //获取用户id
		    //普通示例
			var userPicker = new mui.PopPicker();
			let serurl=userApp.serverUrl,
				dc=document;
			mui.get(serurl+'/Search/GetData',{formType:"APP_PRO",userID:userId,condition:''},function(response){ 
				let arr=[]
				for (let {subentry_caseno,contract_name} of response) {
					arr.push({value:subentry_caseno,text:contract_name})
				}
				userPicker.setData(arr)
			},'json' );	
					var showUserPickerButton = dc.getElementById('showUserPicker');
					var subentry_caseno = dc.getElementById('subentry_caseno');
					showUserPickerButton.addEventListener('tap', function(event) {
						userPicker.show(function(items) {
							vm.projectName = items[0].text;
							vm.projectNo = items[0].value;
							//返回 false 可以阻止选择框的关闭
							//return false;
						});
					}, false);	
		})
		mui.ready(function(){
			
					
		})
		//监听自定义事件，获取新闻详情
			document.addEventListener('get_detail', function(event) {
				//前页传入的数据，直接渲染，无需等待ajax请求详情后
				vm.cover = event.detail.cover;
				vm.title = event.detail.title; //描述说明
				vm.author = event.detail.author;
				vm.time = event.detail.time;
				vm.status=Number.parseInt(event.detail.status);
				vm.projectNo=event.detail.projectNo;
				vm.projectName=event.detail.projectName;
				vm.apply_id=event.detail.guid;
				vm.imginfo=[];
			//加载图片
			mui.get(userApp.serverUrl+'/Attachment/GetThumImage',{formType:"APP_IP",applyID:vm.apply_id,projectNO:vm.projectNo},function(response){ 
				let imgarr=[]
				for (let data of response) {
					let imginfo={url:data.data,previewSrc:data.initialData,fileId:data.id,fileType:data.type}
					imgarr.push(imginfo)
				}
				vm.imginfo=imgarr;
			},'json' );	
		});
		//重写返回逻辑
			mui.back = function() {
				plus.webview.currentWebview().hide("auto", 300);
				//动画结束后，恢复默认值
				setTimeout(function() {
					window.scrollTo(0, 0);
					vm.resetData();
					closePreview()
				}, 300);
			}
	</script>

</html>