<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<!--大图-->
		<div id="divCenter" align="center" style="position: absolute; z-index: 9; display: none; background-color: #eee; width:100%; height:100px;left:0px;top:px; border:1px solid #222;">
            <a href="javascript:void(0);" ><img src="XXXXXX" id="img-big-content"/></a>
        </div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			mui.plusReady(function(){
			var self = plus.webview.currentWebview();
			var v = document.getElementById('divCenter');
			var imgnode=v.getElementsByTagName('img')[0]
			v.style.display = "block";
			console.log(self.imgurl)
			imgnode.src=self.imgurl
			})
			//关闭大图
		function picClose() {
                var v = document.getElementById('divCenter');
                //v.style.display = "none";
            }
		</script>
	</body>

</html>