<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
			<!--自定义样式-->
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../css/component/list-style.css"/>
		<link rel="stylesheet" type="text/css" href="../css/component/background.css"/>
		<style type="text/css">
		.mui-table-view .mui-media-object {
			margin-right: 20px;
		}
		.main-circle .circle{
			width: 80px;
			height: 80px;
		}
		.main-circle li{
			padding: 11px 0px !important;
		}
		</style>
	</head>

	<body>
		<div id="app">
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<ul class="main-circle mui-table-view mui-grid-view mui-grid-9">
		            <li class="icon-btn mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" data-wid="./FlowForm/list-to-finished/project-sign.html">
			            <div class="bg-color-blue  circle">
							<span class="span-center white-color">{{countArr.APP_VS}}</span>
						</div>
						<p>現場簽證</p>
					</li>
		            <li class="icon-btn mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		                <div class="bg-color-g  circle">
							<span class="span-center white-color">1</span>
						</div>
						<p>報批報建</p>
					</li>
		            <li class="icon-btn mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
			            	<div class="bg-color-r  circle">
			            		<span class="span-center white-color">1</span>
			            	</div>
			            	<p>施工日誌</p>
			        </li>
		            <li class="icon-btn mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		                <div class="bg-color-o  circle">
							<span class="span-center white-color">1</span>
						</div>
						<p>需求單</p>
					</li>
		            <li class="icon-btn mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		                <div class="bg-color-z  circle">
							<span class="span-center white-color">1</span>
						</div>
						<p>整改單</p>
		            </li>
		        </ul> 
			</div>
		</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/user/app.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var subpage_style = {
					top: '0px',
					bottom: '0px'
				},
			 vm=new Vue({
				el:"#app",
				data:{
					showDialog:true,
					countArr:{
							APP_VS:"",
							uncommit:"",
							finished:""
					},
					dataList:{
						imgData:[],
						signData:[]
					}
				}
			})
			mui.init({
				swipeBack: false,
				keyEventBind: {
					backbutton: false //关闭back按键监听
				},
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style:'circle',
						auto: true,
						callback: pulldownRefresh
					},
				}
			});
			var count = 0;
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				getCount()
				setTimeout(function() {
							if(window.plus && plus.networkinfo.getCurrentType() === plus.networkinfo.CONNECTION_NONE) {
								plus.nativeUI.toast('似乎已断开与互联网的连接', {
									verticalAlign: 'top'
								});
								return;
							}
							let serurl=userApp.serverUrl+'/FlowForm/GetFinishedList',
								data={
									formType:"APP_IP",
									userID:userApp.userID,
									condition:"",
								}
							userApp.Get(serurl,data).then(response=>{
								mui('#pullrefresh').pullRefresh().endPulldown();
								vm.dataList.imgData=[];
								vm.dataList.imgData = response;
							}).catch(err=>{
								mui('#pullrefresh').pullRefresh().endPulldown();
								plus.nativeUI.toast(err);
							})
						}, 1500);
			}
			//单击事件
			//主内容图标单击事件
				mui(".mui-grid-view").on("tap", ".icon-btn", function(e) {
					vm.count="50"
					//读取本地存储，检查是否为已登录
					var userId = plus.storage.getItem("userId");
					if(!userId){
						var newWV = plus.webview.create('../login.html', 'login');
						newWV.show('slide-in-right', 200);
						return
					}
					var wid = this.getAttribute("data-wid");
					if(!wid){
						plus.nativeUI.toast("功能完善中")
						return
					}
					var sub=plus.webview.create(wid,wid,subpage_style)
					sub.show()
					//activePage.append(sub)
				});
		function getCount(){
				var url=userApp.serverUrl+"/FlowForm/GetQuantityByList",
					userId=plus.storage.getItem("userId")
					data={
						userID:userId
					}
				userApp.Get(url,data).then(res=>{
					if(res.length>0){
					vm.countArr.APP_VS=res[0].count
					}else{
						vm.countArr.APP_VS="0"
					}
				})
			}
			mui.ready(function(){
				getCount()
			})
			//监听刷新事件
		window.addEventListener('refresh',function(event){
			getCount()
		  //获得事件参数
		  pulldownRefresh();
		  //根据id向服务器请求新闻详情
		});
		</script>
	</body>

</html>