<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/footbar.css"/>
		<style type="text/css">
			.mui-content>.mui-table-view:first-child {
				margin-top: -1px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-pull-left"></a>
			<h1 class="mui-title">簽證工程</h1>
		</header>
		<!--下拉刷新容器-->
		<div id="pullrefresh" class="mui-content">
			<!--数据列表-->
			<ul class="mui-table-view">
			</ul>
		</div>
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/dataFormat.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/user/app.js" type="text/javascript" charset="utf-8"></script>
		<script>
			
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style:'circle',
						callback: pulldownRefresh
					},
					up: {
						auto:true,
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			
			var count = 0;
			function pullupRefresh() {
				setTimeout(function() {
					userApp.getData('F3229346',++count,'5',document.body.querySelector('.mui-table-view'),false).then(data=>{
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(data.length==0);
					}).catch(err=>{
						mui('#pullrefresh').pullRefresh().endPullupToRefresh();
						plus.nativeUI.toast(err.type);
					})
				}, 1500);
			}
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					userApp.getData('F3229346','1','5',document.body.querySelector('.mui-table-view'),true).then(data=>{
						setTimeout(function(){
							mui('#pullrefresh').pullRefresh().endPulldown();
						},500)
						mui.toast("恭喜您，頁面刷新成功！");
					}).catch((err)=>{
						mui('#pullrefresh').pullRefresh().endPulldown();
						mui.toast(err.type);
					})
					count = 0
				}, 1500);
			}
			//单击事件
			mui('body').on('tap', '.mui-table-view li', function(e){
				var h=this.getElementsByTagName('p');
				var id=this.getElementsByTagName('input');
				var status=this.getElementsByClassName('btn-status')
				mui.openWindowWithTitle({
				    url:'simple-edit.html',
				    id:'simple-edit',
				    extras:{
				        name:id[0].id,
				        status:status[0].value
				    }
				},{
					backgroundColor:"#f4645f",//导航栏背景色
				    title:{//标题配置
				        text:'形象进度',//标题文字
				        styles:{//绘制文本样式，参考：http://www.html5plus.org/doc/zh_cn/nativeobj.html#plus.nativeObj.TextStyles
				            color:"#f0f0f0",
				            align:"center",
				            family:"'Helvetica Neue',Helvetica,sans-serif",
				            size:"17px",
				            style:"normal",
				            weight:"normal",
				            fontSrc:""
				        },
				    },
				    back:{//左上角返回箭头
				        image:{
				            base64Data:'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABd0lEQVR4Xu3Y4Q2CQAwFYG4UN8FJlI3cQEbRDXQTN8BeIgkxhPtB3/WVKwm/iCfvu1ZzTV3jV2o8fxcAUQGNC0QLNF4A8SMYLRAt0LhAtEDjBcD7LzBN0002Z0wpvZCbRNkCEn6U0Be5P3KfkQh0AIvw88ZDEagAVsLPCE+pgh7RCjQAG+HfErwXgFwJ6hcFgFX4rGkOYBneHMA6vCkAQ3gzAJbwJgBM4asDsIWvCsAYvhoAa/gqAMzh4QDs4aEAHsLDALyEhwB4Cq8O4C28KoCEv8qC95UDez7Hn1Dn+b0DAtXj8EYF5OHmsPdlEZ9XBcgv6A1BHcAbAgTAEwIMwAsCFMADAhyAHaEKADNCNQBWhKoAjAjVAdgQTACYEMwAWBBMARgQzAGsESgALBFoAKwQqAA2EAYZqIwuBiIaL/k3VIGFV50JagRfrvFDeKB2fv4uuhbQhiytFwAloaM/jwo4+g6X8kUFlISO/jwq4Og7XMrXfAV8AXit4EEot4OAAAAAAElFTkSuQmCC'
				        }
				    }
				})
			})
			//监听刷新事件
			//添加newId自定义事件监听
		window.addEventListener('refresh',function(event){
		  //获得事件参数
		  console.log(event.detail.status)
		  if(event.detail.status){
		  	plus.nativeUI.toast('保存成功')
		  }
		  userApp.getData('F3229346','1','5',true).catch((err)=>{
						mui.toast(err.type);
					})
		  //根据id向服务器请求新闻详情
		});
		mui.back = function(event) {
						plus.webview.currentWebview().hide()
					};

		</script>
	</body>

</html>