<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/header.css"/>
		<style>
			html,body {
				background-color: #efeff4;
			}
			.title{
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.cover-content,.body-content{
				text-align: center;
			}
			.body-content{
				color: white;
				margin-top: 12px;
    				font-size: 16px;
			}
			.cover-content img{
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background: white;
				margin-top: 15px;
			}
			.user-header{
				background: url(../images/icon/back1.jpg);
				margin-bottom: 0px;
			}
			.footer{
				margin-top: 25px;text-align: center;
				height: 50px;
			}
			.footer button{
				width: 75%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">设置</h1>
		</header>
		<div id="app" class="mui-content">
			<form class="user-header mui-input-group">
				<div class="cover-content">
					<a href="#">
						<img src="../images/icon/user.png">
					</a>
				</div>
				<div class="mui-input-row body-content">
			    <span>
			    		{{userInfo.userName}}
			    </span>
				</div>
			</form>
			<form class="mui-input-group">
			    <div class="mui-input-row">
			        <label>賬號</label>
			    <input type="text" disabled="true" class="mui-input-clear" v-model="userInfo.userID">
			    </div>
			    <div class="mui-input-row">
			        <label>部門</label>
			        <input type="text" disabled="true" class="mui-input-clear" v-model="userInfo.userDept">
			    </div>
			    <div class="mui-input-row">
			        <label>手機號碼</label>
			        <input type="text" disabled="true" class="mui-input-clear" v-model="userInfo.userPhone">
			    </div>
			    <div class="mui-input-row">
			        <label>郵箱地址</label>
			        <input type="text" disabled="true" class="mui-input-clear" v-model="userInfo.userMail">
			    </div>
			    <div class="mui-input-row">
			        <label>當前版本</label>
			        <input type="text" disabled="true" class="mui-input-clear" v-model="sysInfo.version">
			    </div>
			</form>
			<div class="footer">
				<button id="exit" type="button" class="mui-btn mui-btn-primary">退出登录</button>
			</div>
		</div>
		</style>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/user/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var vm=new Vue({
			el:"#app",
			data:{
				userInfo:'',
				sysInfo:'',
			}
		})
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		mui.plusReady(function(){
			plus.navigator.setStatusBarBackground("#2B85E4");
			initData()
		})
		//获取数据
		function initData(){
			var serurl=userApp.serverUrl+"/Users/GetUserInfo",
				data,
			 	userId = plus.storage.getItem("userId");
			if(!userId){
				var newWV = plus.webview.create('../login.html', 'login');
				newWV.show('slide-in-right', 200);
				return
			}
			data={userID:userId}
			userApp.Post(serurl,data).then(res=>{
				vm.userInfo=res
			})
			serurl=userApp.serverUrl+"/System/GetVersion"
			userApp.Get(serurl,"").then(res=>{
				vm.sysInfo=res
			})
		}
		window.addEventListener('show', function() {
					initData()
				}, false);
		//退出应用
				var backButtonPress = 0;
				mui.back = function(event) {
						backButtonPress++;
						if (backButtonPress > 1) {
							plus.runtime.quit();
						} else {
							plus.nativeUI.toast('再按一次退出应用');
						}
						setTimeout(function() {
							backButtonPress = 0;
						}, 1000);
						return false;
					};
		//退出操作******************
		document.getElementById('exit').addEventListener('tap', function() {
			if (mui.os.ios) {
				app.setState({});
				plus.storage.removeItem('userId');//恢复加载条显示状态
				mui.openWindow({
					url: '../login.html',
					id: 'login',
					show: {
						aniShow: 'pop-in'
					},
					createNew:false,
					waiting: {
						autoShow: false
					}
				});
				return;
			}
			var btnArray = [{
				title: "注销当前账号"
			}, {
				title: "直接关闭应用"
			}];
			plus.nativeUI.actionSheet({
				cancel: "取消",
				buttons: btnArray
			}, function(event) {
				var index = event.index;
				switch (index) {
					case 1:
						//注销账号
						app.setState({});
						plus.storage.removeItem('userId');//恢复加载条显示状态
						/*
						 * 注意：
						 * 1、因本示例应用启动页就是登录页面，因此注册成功后，直接显示登录页即可；
						 * 2、如果真实案例中，启动页不是登录页，则需修改，使用mui.openWindow打开真实的登录页面
						 */
						//plus.webview.getLaunchWebview().show("pop-in");
						//若启动页不是登录页，则需通过如下方式打开登录页
						mui.openWindow({
							url: '../login.html',
							id: 'login',
							createNew:false,
							show: {
								aniShow: 'pop-in'
							}
						});
						break;
					case 2:
						plus.runtime.quit();
						break;
				}
			});
		}, false);
	</script>
</html>